{% block calculator %}
<div class="container">
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Dienos kaloriju normos skaiciuokle</h4>
            <div class="row">
                <form>
                    <div class="col s6 m3">
                        <label>Lytis</label>
                        <p>
                            <input name="gender" type="radio" id="men" value="1" />
                            <label for="men">Vyras</label>
                        </p>+
                        <p>
                            <input name="gender" type="radio" id="wmen" value="2" />
                            <label for="wmen">Moteris</label>
                        </p>
                    </div>
                    <div class="col s6 m3">
                        <label>Amzius</label>
                        <input type="number" id="age">
                        <label>Ugis</label>
                        <input type="number" placeholder="cm" id="height">
                        <label>Svoris</label>
                        <input type="number" placeholder="kg" id="weight">
                    </div>
                    <div class="col s12 m3">
                        <div id="activity">
                            <p>
                                <input name="activity" type="radio" id="a1" value="1" />
                                <label for="a1">Pasyvus 0 val.</label>
                            </p>
                            <p>
                                <input name="activity" type="radio" id="a2" value="2" />
                                <label for="a2">Lengvas 1-2 val.</label>
                            </p>
                            <p>
                                <input name="activity" type="radio" id="a3" value="3" />
                                <label for="a3">Vidutiniskas 2-3 val.</label>
                            </p>
                            <p>
                                <input name="activity" type="radio" id="a4" value="4" />
                                <label for="a4">Labai aktyvus 3-5 val.</label>
                            </p>
                            <p>
                                <input name="activity" type="radio" id="a5" value="5" />
                                <label for="a5">Ypac aktyvus 5+ val.</label>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" id="calculate">Skaiciuoti</a>
        </div>
    </div>
</div>
    {% block calculator %}