{% extends "::base.html.twig" %}

{% block body %}
<div class="container">
    <div class="col-lg-8 col-lg-offset-2 centered">

    <h1>prideti recepta</h1>
<input type="search" placeholder="Ieskoti recepto">

<a href="{{ path('menupage') }}"><button class="btn btn-success">Prideti</button></a>
    </div>
</div>

{% endblock %}