{% extends "::base.html.twig" %}
{% block body %}
    <div id="fullpage">
        <div class="section">
            {% include "AppBundle:Components:intro.html.twig" %}
        </div>
        <div class="section">
            {% include "AppBundle:Components:steps.html.twig" %}
        </div>
        <div class="section fp-normal-scroll">
            {% include "AppBundle:Components:menu.html.twig" %}
        </div>
        {% block modals %}
            {% include "AppBundle:Components:menuComponents/calCalculator.html.twig"%}
        {% endblock %}
    </div>
{% endblock %}
