{% extends "::base.html.twig" %}
{% block style%}
    <style>
        header, section {
            display: block;
        }
        body {
            font-family: 'Droid Serif';
        }
        h1, h2 {
            text-align: center;
            font-weight: normal;
        }
        #features {
            margin: auto;
            width: 460px;
            font-size: 0.9em;
        }
        .connected, .sortable, .exclude, .handles {
            margin: auto;
            padding: 0;
            width: 310px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .sortable.grid {
            overflow: hidden;
        }
        .connected li, .sortable li, .exclude li, .handles li {
            list-style: none;
            border: 1px solid #CCC;
            background: #F6F6F6;
            font-family: "Tahoma";
            color: #1C94C4;
            margin: 5px;
            padding: 5px;
            height: 22px;
        }
        .handles span {
            cursor: move;
        }
        li.disabled {
            opacity: 0.5;
        }
        .sortable.grid li {
            line-height: 80px;
            float: left;
            width: 80px;
            height: 80px;
            text-align: center;
        }
        li.highlight {
            background: #FEE25F;
        }
        #connected {
            width: 440px;
            overflow: hidden;
            margin: auto;
        }
        .connected {
            float: left;
            width: 200px;
        }
        .connected.no2 {
            float: right;
        }
        li.sortable-placeholder {
            border: 1px dashed #CCC;
            background: none;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="title">
                <h1 class="title">Susikurkite savo meniu</h1>
            </div>
        </div>
        <div class="row">
            <div class="menu-table">
                <div class="col s12 m9">
                    <div class="table">
                        <ul id="items">
                            <li>item 1</li>
                            <li>item 2</li>
                            <li>item 3</li>
                        </ul>
                        <ul id="items">
                            <li>item 1</li>
                            <li>item 2</li>
                            <li>item 3</li>
                        </ul>
                    </div>
                </div>
                <div class="col m3 s12">
                    <form class="settings">
                        <div class="block">
                            <label class="settings">Kcal</label>
                            <input type="text">
                        </div>
                        <div class="block">
                            <label class="settings">Dienu skaicius</label>
                            <input type="number">
                        </div>
                        <div class="block">
                            <label class="settings">Valgymu kartai dienoje</label>
                            <input type="number">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
    <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    <script src="{{ asset('js/jquery.sortable.js') }}"></script>
    <script src="{{ asset('js/jquery.ui.touch-punch.min.js') }}"></script>
    <script>var el = document.getElementById('items');
        var sortable = Sortable.create(el);
        var foo = document.getElementById("items");
        Sortable.create(foo, { group: "omega" });
    </script>
{% endblock %}