{% extends "::base.html.twig" %}


{% block body %}

    <div class="container">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <script type="javascript">
            function onSignIn(googleUser) {
                var profile = googleUser.getBasicProfile();
                console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
                console.log('Name: ' + profile.getName());
                console.log('Image URL: ' + profile.getImageUrl());
                console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            }
        </script>
        <div class="col-lg-8 col-lg-offset-2 centered">
            <h1 class="uzrasas">Susikurtike savo meniu</h1>

            <span>Pasirinkite dienu skaiciu</span>
            <button class="mygt">1</button>
            <button class="mygt">2</button>
            <button class="mygt">3</button>
            <button class="mygt">4</button>
            <button class="mygt">5</button>
            <button class="mygt">6</button>
            <button class="mygt">7</button>
            <hr>
            <span>Valgymu skaicius dienoje</span>
            <button class="mygt">1</button>
            <button class="mygt">2</button>
            <button class="mygt">3</button>
            <button class="mygt">4</button>
            <button class="mygt">5</button>
            <hr>
            <span>Netinkami produktai</span>
            <input type="search" placeholder="Iveskite produkta">
            <hr>
            <a href="{{ path('menupage') }}"><button class="btn btn-success">Generuoti meniu</button></a>

        </div><!-- /col-lg-8 -->



    </div>

{% endblock %}

