{% extends "::base.html.twig" %}




{% block body %}
    <div class="container">
    <div class="col-lg-8 col-lg-offset-2 centered">
    <h1>Menu page</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Diena</th>
                <th>#</th>
                <th>Pavadinimas</th>
                <th>Porcijos</th>
                <th>Kalorijos</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th></th>
                <th scope="row">1</th>
                <td>salotos</td>
                <td>2</td>
                <td>315</td>
            </tr>
            <tr>
                <th></th>
                <th scope="row">2</th>
                <td></td>
                <td><a href="{{ path('addrecipepage') }}"><button class="btn btn-success">+</button> </a></td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <th scope="row">3</th>
                <td>omletas</td>
                <td>1</td>
                <td>327</td>
            </tr>
            <tr>
                <th></th>
                <th scope="row">4</th>
                <td></td>
                <td><a href="{{ path('addrecipepage') }}"><button class="btn btn-success">+</button> </a></td>
                <td></td>
            </tr>
            </tbody>
        </table>



    </div>
    </div>
{% endblock %}