{% extends "::base.html.twig" %}

{% block modal %}

{% endblock %}


{% block body %}
    <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <nav class="navbar navbar-light bg-faded navbar-border">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="iksas">&times;</span>
                        </button>

                    <a class="navbar-brand" href="#">Food planner</a>

                    <form class="form-inline paieska">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Ieskoti recepto" aria-describedby="basic-addon1">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                    </form>


                </nav>




            </div>
        </div>
    </div>
    <div class="container">
    <div class="col-lg-8 col-lg-offset-2 centered">
    <h1>Menu page</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Diena</th>
                <th>#</th>
                <th>Pavadinimas</th>
                <th>Porcijos</th>
                <th>Kalorijos</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th></th>
                <th scope="row">1</th>
                <td>salotos</td>
                <td>2</td>
                <td>315</td>
            </tr>
            <tr>
                <th></th>
                <th scope="row">2</th>
                <td></td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">+</button></td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <th scope="row">3</th>
                <td>omletas</td>
                <td>1</td>
                <td>327</td>
            </tr>
            <tr>
                <th></th>
                <th scope="row">4</th>
                <td></td>
                <td><button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">+</button></td>
                <td></td>
            </tr>
            </tbody>
        </table>



    </div>
    </div>

{% endblock %}