{% extends "::base.html.twig" %}

{% block modal %}

{% endblock %}


{% block body %}
    <!-- Large modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <nav class="navbar navbar-light bg-faded navbar-border">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" class="iksas">&times;</span>
                        </button>

                    <a class="navbar-brand" href="{{ path('homepage') }}">Food planner</a>

                    <form class="form-inline paieska">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Ieskoti recepto" aria-describedby="basic-addon1">
                            <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                    </form>

                </nav>
                <h2 class="text-center card-h1">POPULAR MEALS</h2>
                <div class="row">
                    <div class="col-md-4 card-holder cord-holder-first">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c0.135.1080.1080/17662339_135771776960613_3015915078789627904_n.jpg" alt="Card image cap Responsive image">
                            <div class="card-block">
                                <h4 class="card-title">Meal #1</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="{{ path('menupage') }}" class="btn btn-custom">Add meal</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 card-holder card-holder-middle">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/c0.135.1080.1080/17438799_503042086752302_1102724078629814272_n.jpg" alt="Card image cap Responsive image">
                            <div class="card-block">
                                <h4 class="card-title">Meal #2</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="{{ path('menupage') }}" class="btn btn-custom">Add meal</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 card-holder card-holder-last">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/17077579_239361829806598_6457918594406678528_n.jpg" alt="Card image cap Responsive image">
                            <div class="card-block">
                                <h4 class="card-title">Meal #3</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="{{ path('menupage') }}" class="btn btn-custom">Add meal</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="container">
    <div class="col-lg-8 col-lg-offset-2 centered">
        <h2 class="text-center uzrasas">MENU PAGE</h2>
        <hr>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Diena</th>
                <th>#</th>
                <th>Pavadinimas</th>
                <th>Porcijos</th>
                <th>Kalorijos</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th></th>
                <th scope="row">1</th>
                <td>salotos</td>
                <td>2</td>
                <td>315</td>
                <td><button class="remove-tr btn btn-primary btn-custom-red">x</button></td>
            </tr>
            <tr>
                <th></th>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-primary btn-custom" data-toggle="modal" data-target=".bd-example-modal-lg">+</button></td>
            </tr>
            <tr>
                <th></th>
                <th scope="row">3</th>
                <td>omletas</td>
                <td>1</td>
                <td>327</td>
                <td><button class="remove-tr btn btn-primary btn-custom-red">x</button></td>
            </tr>
            <tr>
                <th></th>
                <th scope="row">4</th>
                <td></td>
                <td></td>
                <td></td>
                <td><button class="btn btn-primary btn-custom" data-toggle="modal" data-target=".bd-example-modal-lg">+</button></td>
            </tr>
            </tbody>
        </table>


        <script>
            $('.remove-tr').click(function() {
                $(this).closest("tr").html(
                    "<th></th>"+
                    "<th scope='row'>4</th>"+
                    "<td></td>"+
                    "<td></td>"+
                    "<td></td>"+
                    "<td><button class='btn btn-primary btn-custom' data-toggle='modal' data-target='.bd-example-modal-lg'>+</button></td>"
                );
            });
        </script>



    </div>
    </div>

{% endblock %}