{% block header %}
    <a href="{{ path('mainpage') }}">Main page</a>
    <a href="{{ path('settingspage') }}">Nustatymai</a>
    <a href="{{ path('homepage') }}">Log Out</a>
{% endblock %}

{% block body %}
    <h1>Nustatymai</h1>

{% endblock %}
