<header>
    <nav class="niam-nav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img src="{{ asset('images/logoclear.png') }}" class="nav-logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {{ navBar| raw  }}
            </ul>
        </div>
    </nav>
</header>