<li class="menu">
    <img src="{{ photo }}" class="menu-img">
    <p class="menu-name">{{ name }}</p>
    <input type="number" class="portion" value="4">
    <label class="portion">porc.</label>
    <button class="action"><img src="{{ asset('images/icons/change.png') }}" class="action"></button>
    <button class="action"><img src="{{ asset('images/icons/delete.png') }}" class="action"></button>
</li>