<div class="col m5 s12">
    <form class="settings">
        <div class="block calories">
            <a id="kcalclick"><label class="settings activate">Dienos kalorijų norma</label></a>
            <input type="number" class="settings" id="kcal" maxlength="4" value="2225" onchange="updateMenu()">
            <span id="kcalf"> kcal</span>
            <a class="btn-floating btn-medium waves-effect waves-light teal pulse" href="#modal1"><i class="material-icons">assessment</i></a>
        </div>
        <div class="block">
            <label class="settings">Dienų skaičius <span id="days">16</span></label>
            <p class="range-field">
                <input type="range" id="daysCount" min="1" max="30" onchange="updateMenu()" />
            </p>
        </div>
        <div class="block">
            <label class="settings">Paros valgymų kiekis <span id="meal">3</span></label>
            <p class="range-field">
                <input type="range" id="mealTime" min="1" max="5" onchange="updateMenu()" />
            </p>
        </div>
        <div class="block">
            <div class="input-field">
                <input type="text" id="autocomplete" class="autocomplete">
                <label for="autocomplete">Netinkami produktai</label>
            </div>
        </div>
        <div class="block">
            <div class="center">
                <a class="waves-effect waves-light btn">Gauti sąrašą</a>
            </div>
        </div>
    </form>
</div>