<div class="container">
    <div class="quote">
        <div class="row">
            <div class="center-block">
                <div class="col m4 offset-m4 s10 offset-s1">
                    <img src="{{ asset('images/logoclear.png') }}" class="quote">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m12">
                <h1 class="quote">Taupyti <span class="quote">maistą </span>ir <span class="quote">pinigus </span>dar niekada nebuvo taip <span class="quote">paprasta</span></h1>
            </div>
        </div>
    </div>
</div>