<div class="container">
    <div class="to-do">
        <div class="row">
            <div class="col m12">
                <h1 class="simple">Iki pirkinių sąrašo tik <span class="greenn"> 3 </span> paprasti žingsniai</h1>
            </div>
            <div class="col m8 offset-m2 s12">
                <div class="what-we-do">
                    <h2 class="what-we-do">
                        Vėl galvoji kokį patiekalą gaminti? Atsibodo žinomi receptai? Vargina pirkinių sąrašo sudarymas?
                        Mes pagal jūsų reikalavimus jums sukūrsime meniu, su kuriuo gausite ir pirkinių sąrašą, kuriame
                        visi reikalingi produktai, pasirinktiems patiekalams gaminti.
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col m4 s12">
                <div class="step">
                    <img src="{{ asset('images/icons/1.png') }}" class="step">
                    <h2 class="step">Pasirinkite laiko tarpą</h2>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="step">
                    <img src="{{ asset('images/icons/2.png') }}" class="step">
                    <h2 class="step">Prisitaikykite meniu savo poreikiams</h2>
                </div>
            </div>
            <div class="col m4 s12">
                <div class="step">
                    <img src="{{ asset('images/icons/3.png') }}" class="step">
                    <h2 class="step">Gaukite pirkinių sąrašą</h2>
                </div>
            </div>
        </div>
    </div>
</div>