<div class="container">
    <div class="to-do">
        <div class="row">
            <div class="step col m6 s12">
                <img src="{{ asset('images/icons/1.png') }}" class="step">
                <h2 class="step">Pasirinkite laiko tarpą</h2>
            </div>
        </div>
        <div class="row">
            <div class="step col m6 s12">
                <img src="{{ asset('images/icons/2.png') }}" class="step">
                <h2 class="step">Prisitaikykite meniu savo poreikiams</h2>
            </div>
        </div>
        <div class="row">
            <div class="step col m6 s12">
                <img src="{{ asset('images/icons/3.png') }}" class="step">
                <h2 class="step">Gaukite pirkiniu sarasa</h2>
            </div>
        </div>
    </div>
</div>