//bootstrap
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;

}

label{
  font-weight: lighter;
  font-size: 1.4rem;
  margin-right: 2rem;
  color: #424242;
  display: inline;
}

label.login-input{
  display: inline-block;
}

label:after {
  content:"\a";
  white-space: pre;
}
#fos_user_registration_form_activity{
  margin-top: 2rem;
}

input{
  border: none;
  margin-top: 0.75rem;
  border-bottom: 1px solid;
  border-bottom-color: #EEEEEE;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  color: #009688;
  outline: none;
}


p.login-footer{
  margin: 0;
  font-size: 1rem;
  margin-left: 3rem;
  color: #757575;
  padding-top: 20px;
  padding-bottom: 20px;
}

a.login-footer{
  color: #757575
}


footer.login{
  width: 100%;
  border-top: 1px solid;
  border-top-color: #EEEEEE;
  position: absolute;
  bottom: 0;
}

.background{
  background-image: url("https://images.pexels.com/photos/5938/food-salad-healthy-lunch.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: cover;
  background-repeat:no-repeat;
}

.navbar{
  background-color: white;
  margin: 0;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

a.navbar-brand{
  color: #009688;
  padding-left: 5rem;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.container-fluid{
  padding: 0;
}

h1.login-form{
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 3.5rem;
  color: #009688;
}

input[type=submit].login-input{
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
  border: none;
  padding: 0.5rem 2.5rem;
  color: white;
  background-color: #009688;
}

input[type=checkbox].login-input{
  display: inline-block;
  margin: 0;
}

.center-block{
  text-align: center;
}

form.register-form{
  display: inline-block;
  margin: 0 2rem;
  margin-top: 4rem;
  text-align: left;
}

input[type=radio]{
  margin-right: 1rem;
}

input, select, textarea{
  color: #009688;
}

input.required{
  margin-bottom: 20px;
}

form.login-form{
  display: inline-block;
  padding: 3rem 5rem;

  margin-top: 10rem;
  background-color: white;
  margin-bottom: 5rem;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
input.login-input{
  border: none;
  display: block;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid;
  border-bottom-color: #009688;
  color: #212121;
  outline: none;
}

h1.register{
  font-size: 2.5rem;
  margin-top: 4rem;
  color: #1abc9c;
}

p.login-form{
  margin-top: 3rem;
  text-align: center;
}

label.login-input{
  font-weight: normal;
}

input[type=submit].register-button{
  margin-top: 5rem;
  margin-bottom: 5rem ;
}
