@media screen and (max-width: 767px) {
  form.settings{
    max-width: 100%;
  }
}

//materialize rework
nav{
  box-shadow: none;
}
//materialize rework
body{
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

span.greenn{
  color: #009688;
}
div.block{
  display: block;
}

div.li-setting{
  width: 52%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}

h1.simple{
  font-size: 2rem;
  text-align: center;
  color: #424242;
}

h2.what-we-do{
  font-size: 1.4rem;
  text-align: center;
  color: #616161;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

//navbar
nav.niam-nav{
  background-color: white;
}

img.nav-logo{
  max-height: 30px;
  margin-bottom: 5px;
  vertical-align: middle;
  display: inline-block;
}

div.nav-wrapper{
  max-width: 90%;
  margin: 0 auto;
}

nav ul a {
  color: #4DB6AC;
}

nav ul a:hover {
  background-color: white;
  color: #00796B;
  transition: color .3s;
}
//navbar

//quote

h1.quote{
  color: #424242;
  font-size: 2.8rem;
  text-align: center;
}

span.quote{
  color: #26A69A;
}

img.quote{
  max-width: 100%;
}

h4.cal-header{
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #009688;
}
//quote

//steps

h2.step{
  font-size: 1.4rem;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
  color: #616161;
}

img.step{
  max-width: 30%;
  display: block;
  margin: 15px auto;
}

//steps

//menupage

h1.title{
  font-size: 2rem;
  text-align: left;
  color: #424242;
  display: inline-block;
  margin: 3rem 0;
}

div.wrapper-middle{
  display: inline-block;
}

img.menu-select{
  width: 100%;
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align:center;
  border-radius: 50%;
  overflow: hidden;
}

span.title{
  color: #26A69A;
}

//menu
p.menu-name{
  color: #424242;
  width: 25%;
  margin: 0;
  vertical-align: middle;
}

div.table{
  max-height: 500px;
  overflow: hidden;
  overflow-y: scroll;

}

#scroll::-webkit-scrollbar-track
{
  background-color: #FAFAFA;
}

#scroll::-webkit-scrollbar
{
  width: 4px;
}

#scroll::-webkit-scrollbar-thumb
{
  background-color: #4DB6AC;
  width: 6px;
  max-height: 30px;
}



li.menu{
  height: 50px;
  background-color: white;
  border: 2px solid #EEEEEE;
}
li.menu + li.menu{
  border-top: none;
}

p.menu-name{
  display: inline-block;
}

label.portion{
  font-size: 1rem;
  color: #757575;
}

label.activate:hover{
  font-weight: bold;
}

ul.menu{
  background-color: #F5F5F5;
  margin: 0;
}

input.portion{
  width: 18px;
  border-bottom: none;
  height: 1rem;
  margin: 0;
  text-align: right;
  color: #757575;
  font-size: 1rem;
  margin-left: 15px;
}

img.menu-img{
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  vertical-align: middle;
  margin: 2.5px 8px 2.4px 8px;
}

img.action{
  max-width: 1.5rem;
  vertical-align: middle;
}

button.action{
  opacity: 0.8;
  background: transparent;
  border: none;
  transition: opacity .3s;
}
button.action:hover{
  opacity: 1;
}
//menu

//form
form.settings{
  padding:0 20px 20px 20px
}

#days, #meal{
  color: #4DB6AC;
}

#kcalf{
  color: #424242;
  font-size: 1.2rem;
}

label.settings{
  color: #424242;
  font-size: 1.2rem;
}

div.block{
  margin-bottom: 5px;
}

div.calories{
  margin-bottom: 20px;
}

p.value{
  display: inline-block;
  color: white;
  margin: 0;
}

input.settings{
  width: 20%;
  color: #4DB6AC;
  font-weight: bold;
  border: none;
  height: 1.2rem;
  margin: 0;
}
input.settings:focus{
  color: #4DB6AC;
}

#kcal{
  width: 30%;
  font-size: 1.2rem;
  font-weight: normal;
}

//form