<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}{{ "Niam"}}{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/icons/header.png') }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    {% block stylesheets2 %}
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    {% block scripts %}
        <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    {% endblock %}
</head>
<body>
    {% block container %}
        {% block header %}
            {% include "::inc/header.html.twig" %}
        {% endblock %}
        {% block body %}
        {% endblock %}
    {% endblock %}
    {% block footer %}
        {% include "::inc/footer.html.twig" %}
    {% endblock %}
    {% block javascripts %}
    {% endblock %}
</body>
</html>