{% extends "::base.html.twig" %}

{% block title %}Food planner - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>
        body {
            margin: 0;
            padding: 0;
            font-weight: 100;
            font-family: 'Lato';
        }

        .title {
            margin: 20px auto;
            text-align: center;
            font-size: 96px;
        }
        .linkas-i-main {
            position: absolute;
            top: 50%;
            left: 46%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="title">Login page</div>
    <a href="{{ path('mainpage') }}"><button class="linkas-i-main">Main page</button></a>
{% endblock %}
