{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'register-form'}}) }}
    {{ form_widget(form, { 'attr': {'class': 'register-form'}}) }}
    <div>
        <input type="submit" value="Registruotis" class="login-input register-button"/>
    </div>
{{ form_end(form) }}
