<header>
    <nav class="niam-nav">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo"><img src="{{ asset('images/logo.jpg') }}" class="nav-logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Mano meniu</a></li>
                <li><a href="#">Atsijungti</a></li>
            </ul>
        </div>
    </nav>
</header>

